<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Project 6:  Web Scraping
### Finding Underpriced RVs on Craigslist

![](https://snag.gy/WrdUMx.jpg)

In this project we will be practicing our web scraping skills.  You can use Scrapy or Python requests in order to complete this project.  It may be helpful to write some prototype code in this notebook to test your assumptions, then move it into a Python file that can be run from the command line.

> In order to run code from the command line, instead of the notebook, you just need to save your code to a file (with a .py extension), and run it using the Python interpreter:<br><br>
> `python my_file.py`

You will be building a process to scrape a single category of search results on Craigslist, that can easily be applied to other categories by changing the search terms.  The main goal is to be able to target and scrape a single page given a set of parameters.

**If you use Scrapy, provide your code in a folder.**

## Import your libraries for scrapy / requests / pandas / numpy / etc
Setup whichever libraries you need. Review past material for reference.

In [84]:
# PREPARE REQUIRED LIBRARIES OK
#Import
import requests
import random
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from scrapy.selector import Selector
from scrapy.http import HtmlResponse

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1.  Scrape for the largest US cities (non-exhaustive list)
Search, research, and scrape Wikipedia for a list of the largest US cities.  There are a few sources but find one that is in a nice table.  We don't want all cities, just signifficant cities.  Examine your source.  Look for what can be differentiable.

- Use requests
- Build XPath query(ies)
- Extract to a list
- Clean your list

In [85]:
# SCRAPE WIKIPEDIA FOR LARGEST US CITIES (NON-EXHAUSTIVE LIST)
#Trytominimizehitstosite,soisolate
response=requests.get("http://www.infoplease.com/ipa/a0763098.html")

In [86]:
HTML=response.text
population=Selector(text=HTML).xpath('//tr/td[3]/text()').extract()
cities=Selector(text=HTML).xpath('//tr/td[2]/a/text()').extract()
print cities[0:5]
a=pd.Series(cities,name='city')
b=pd.Series(population,name='population')
combined=pd.concat([a,b],axis=1)
combined['city']=combined['city'].map(lambda x: x.replace(',',''))
combined['population']=combined['population'].map(lambda x: int(x.replace(',','')))
combined.head()

[u'New York', u'Los Angeles', u'Chicago', u'Houston', u'Philadelphia']

           city  population
0      New York     8491079
1   Los Angeles     3928864
2       Chicago     2722389
3       Houston     2239558
4  Philadelphia     1560297

In [87]:
random.choice(combined['city']) #chooseLongBeach

u'El Paso'

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1.2 Only retain cities with properly formed ASCII

Optionally, filter out any cities with impropper ASCII characters.  A smaller list will be easier to look at.  However you may not need to filter these if you spend more time scraping a more concise city list.  This list should help you narrow down the list of regional Craigslist sites.

In [88]:
# ONLY RETAIN PROPERLY FORMED CITIES WITH FILTERING FUNCTION

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2.  Write a function to capture current pricing information via Craigslist in one city.
Choose a city from your scraped data, then go to the cooresponding city section on Craigslist, searching for "rv" in the auto section.  Write a method that pulls out the prices.

In [89]:

#population=Selector(text=HTML).xpath('//tr/td[3]/text()').extract()
#response=requests.get("https://www.craigslist.org/about/sites")
class RV(object):
    def __init__(self):
        self.URL = ''     
    
#     def fetch_region(self,x):
#         return region_dict[x]


    def fetch_prices(self,reg):
        rv_prices = []
        URL = "https://" + reg + ".craigslist.org/search/rva"
        response=requests.get(URL)
        print response.status_code
        if response.status_code == 200:
            HTML=response.text
            try:
                rv_prices=Selector(text=HTML).xpath('//span/span/span[@class="price"]/text()').extract()
            except:
                rv_prices = []
#         for x in range(0,len(rv_prices)):
#             rv_prices[x] = int(rv_prices[x].replace("$",''))
# #            rv = pd.DataFrame(population,columns=['prices'])
#            return np.mean(rv)
#             rv_ret.append(np.median(rv))
#             rv_ret[2].append(rv_prices

        return rv_prices
        
    
    
a = RV()
z = a.fetch_prices('dallas')
print z[0:5]

200
[u'$23000', u'$500', u'$34444', u'$800', u'$21595']

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2.1 Create a mapping of cities to cooresponding regional Craigslist URLs

Major US cities on Craigslist typically have their own cooresponding section (ie: SFBay Area, NYC, Boston, Miami, Seattle, etc).  Later, you will use these to query search results for various metropolitian regions listed on Craigslist.  Between the major metropolitan Craigslist sites, the only thing that will differ is the URL's that correspond to them.

The point of the "mapping":  Create a data structure that allows you to iterate with both the name of the city from Wikipedia, with the cooresponding variable that that will allow you to construct each craigslist URL for each region.

> For San Francsico (the Bay Area metropolitan area), the url for the RV search result is:
> http://sfbay.craigslist.org/search/sss?query=rv
>
> The convention is http://[region].craigslist.org/search/sss?query=rf
> Replacing [region] with the cooresponding city name will allow you to quickly iterate through each regional Craigslist site, and scrape the prices from the search results.  Keep this in mind while you build this "mapping".

In [90]:
# Need to get craigslists regional names for a data dictionary
#Try to minimize hits to site,so isolate
response=requests.get("https://www.craigslist.org/about/sites")

In [91]:
HTML=response.text
craigslist_city_names=Selector(text=HTML).xpath('//li/a/text()').extract()
craigslist_city_names

[u'auburn',
 u'birmingham',
 u'dothan',
 u'florence / muscle shoals',
 u'gadsden-anniston',
 u'huntsville / decatur',
 u'mobile',
 u'montgomery',
 u'tuscaloosa',
 u'anchorage / mat-su',
 u'fairbanks',
 u'kenai peninsula',
 u'southeast alaska',
 u'flagstaff / sedona',
 u'mohave county',
 u'phoenix',
 u'prescott',
 u'show low',
 u'sierra vista',
 u'tucson',
 u'yuma',
 u'fayetteville ',
 u'fort smith',
 u'jonesboro',
 u'little rock',
 u'texarkana',
 u'bakersfield',
 u'chico',
 u'fresno / madera',
 u'gold country',
 u'hanford-corcoran',
 u'humboldt county',
 u'imperial county',
 u'inland empire',
 u'los angeles',
 u'mendocino county',
 u'merced',
 u'modesto',
 u'monterey bay',
 u'orange county',
 u'palm springs',
 u'redding',
 u'sacramento',
 u'san diego',
 u'san francisco bay area',
 u'san luis obispo',
 u'santa barbara',
 u'santa maria',
 u'siskiyou county',
 u'stockton',
 u'susanville',
 u'ventura county',
 u'visalia-tulare',
 u'yuba-sutter',
 u'boulder',
 u'colorado springs',
 u'denver',
 u'eastern CO',
 u'fort collins / north CO',
 u'high rockies',
 u'pueblo',
 u'western slope',
 u'eastern CT',
 u'hartford',
 u'new haven',
 u'northwest CT',
 u'delaware',
 u'washington',
 u'broward county',
 u'daytona beach',
 u'florida keys',
 u'fort lauderdale',
 u'ft myers / SW florida',
 u'gainesville',
 u'heartland florida',
 u'jacksonville',
 u'lakeland',
 u'miami / dade',
 u'north central FL',
 u'ocala',
 u'okaloosa / walton',
 u'orlando',
 u'panama city',
 u'pensacola',
 u'sarasota-bradenton',
 u'south florida',
 u'space coast',
 u'st augustine',
 u'tallahassee',
 u'tampa bay area',
 u'treasure coast',
 u'palm beach county',
 u'albany ',
 u'athens',
 u'atlanta',
 u'augusta',
 u'brunswick',
 u'columbus ',
 u'macon / warner robins',
 u'northwest GA',
 u'savannah / hinesville',
 u'statesboro',
 u'valdosta',
 u'hawaii',
 u'boise',
 u'east idaho',
 u'lewiston / clarkston',
 u'twin falls',
 u'bloomington-normal',
 u'champaign urbana',
 u'chicago',
 u'decatur',
 u'la salle co',
 u'mattoon-charleston',
 u'peoria',
 u'rockford',
 u'southern illinois',
 u'springfield ',
 u'western IL',
 u'bloomington',
 u'evansville',
 u'fort wayne',
 u'indianapolis',
 u'kokomo',
 u'lafayette / west lafayette',
 u'muncie / anderson',
 u'richmond ',
 u'south bend / michiana',
 u'terre haute',
 u'ames',
 u'cedar rapids',
 u'des moines',
 u'dubuque',
 u'fort dodge',
 u'iowa city',
 u'mason city',
 u'quad cities',
 u'sioux city',
 u'southeast IA',
 u'waterloo / cedar falls',
 u'lawrence',
 u'manhattan',
 u'northwest KS',
 u'salina',
 u'southeast KS',
 u'southwest KS',
 u'topeka',
 u'wichita',
 u'bowling green',
 u'eastern kentucky',
 u'lexington',
 u'louisville',
 u'owensboro',
 u'western KY',
 u'baton rouge',
 u'central louisiana',
 u'houma',
 u'lafayette',
 u'lake charles',
 u'monroe',
 u'new orleans',
 u'shreveport',
 u'maine',
 u'annapolis',
 u'baltimore',
 u'eastern shore',
 u'frederick',
 u'southern maryland',
 u'western maryland',
 u'boston',
 u'cape cod / islands',
 u'south coast',
 u'western massachusetts',
 u'worcester / central MA',
 u'ann arbor',
 u'battle creek',
 u'central michigan',
 u'detroit metro',
 u'flint',
 u'grand rapids',
 u'holland',
 u'jackson ',
 u'kalamazoo',
 u'lansing',
 u'monroe ',
 u'muskegon',
 u'northern michigan',
 u'port huron',
 u'saginaw-midland-baycity',
 u'southwest michigan',
 u'the thumb',
 u'upper peninsula',
 u'bemidji',
 u'brainerd',
 u'duluth / superior',
 u'mankato',
 u'minneapolis / st paul',
 u'rochester ',
 u'southwest MN',
 u'st cloud',
 u'gulfport / biloxi',
 u'hattiesburg',
 u'jackson',
 u'meridian',
 u'north mississippi',
 u'southwest MS',
 u'columbia / jeff city',
 u'joplin',
 u'kansas city',
 u'kirksville',
 u'lake of the ozarks',
 u'southeast missouri',
 u'springfield',
 u'st joseph',
 u'st louis',
 u'billings',
 u'bozeman',
 u'butte',
 u'great falls',
 u'helena',
 u'kalispell',
 u'missoula',
 u'eastern montana',
 u'grand island',
 u'lincoln',
 u'north platte',
 u'omaha / council bluffs',
 u'scottsbluff / panhandle',
 u'elko',
 u'las vegas',
 u'reno / tahoe',
 u'new hampshire',
 u'central NJ',
 u'jersey shore',
 u'north jersey',
 u'south jersey',
 u'albuquerque',
 u'clovis / portales',
 u'farmington',
 u'las cruces',
 u'roswell / carlsbad',
 u'santa fe / taos',
 u'albany',
 u'binghamton',
 u'buffalo',
 u'catskills',
 u'chautauqua',
 u'elmira-corning',
 u'finger lakes',
 u'glens falls',
 u'hudson valley',
 u'ithaca',
 u'long island',
 u'new york city',
 u'oneonta',
 u'plattsburgh-adirondacks',
 u'potsdam-canton-massena',
 u'rochester',
 u'syracuse',
 u'twin tiers NY/PA',
 u'utica-rome-oneida',
 u'watertown',
 u'asheville',
 u'boone',
 u'charlotte',
 u'eastern NC',
 u'fayetteville',
 u'greensboro',
 u'hickory / lenoir',
 u'jacksonville ',
 u'outer banks',
 u'raleigh / durham / CH',
 u'wilmington',
 u'winston-salem',
 u'bismarck',
 u'fargo / moorhead',
 u'grand forks',
 u'north dakota',
 u'akron / canton',
 u'ashtabula',
 u'athens ',
 u'chillicothe',
 u'cincinnati',
 u'cleveland',
 u'columbus',
 u'dayton / springfield',
 u'lima / findlay',
 u'mansfield',
 u'sandusky',
 u'toledo',
 u'tuscarawas co',
 u'youngstown',
 u'zanesville / cambridge',
 u'lawton',
 u'northwest OK',
 u'oklahoma city',
 u'stillwater',
 u'tulsa',
 u'bend',
 u'corvallis/albany',
 u'east oregon',
 u'eugene',
 u'klamath falls',
 u'medford-ashland',
 u'oregon coast',
 u'portland',
 u'roseburg',
 u'salem',
 u'altoona-johnstown',
 u'cumberland valley',
 u'erie',
 u'harrisburg',
 u'lancaster',
 u'lehigh valley',
 u'meadville',
 u'philadelphia',
 u'pittsburgh',
 u'poconos',
 u'reading',
 u'scranton / wilkes-barre',
 u'state college',
 u'williamsport',
 u'york',
 u'rhode island',
 u'charleston',
 u'columbia',
 u'florence',
 u'greenville / upstate',
 u'hilton head',
 u'myrtle beach',
 u'northeast SD',
 u'pierre / central SD',
 u'rapid city / west SD',
 u'sioux falls / SE SD',
 u'south dakota',
 u'chattanooga',
 u'clarksville',
 u'cookeville',
 u'jackson  ',
 u'knoxville',
 u'memphis',
 u'nashville',
 u'tri-cities',
 u'abilene',
 u'amarillo',
 u'austin',
 u'beaumont / port arthur',
 u'brownsville',
 u'college station',
 u'corpus christi',
 u'dallas / fort worth',
 u'deep east texas',
 u'del rio / eagle pass',
 u'el paso',
 u'galveston',
 u'houston',
 u'killeen / temple / ft hood',
 u'laredo',
 u'lubbock',
 u'mcallen / edinburg',
 u'odessa / midland',
 u'san angelo',
 u'san antonio',
 u'san marcos',
 u'southwest TX',
 u'texoma',
 u'tyler / east TX',
 u'victoria ',
 u'waco',
 u'wichita falls',
 u'logan',
 u'ogden-clearfield',
 u'provo / orem',
 u'salt lake city',
 u'st george',
 u'vermont',
 u'charlottesville',
 u'danville',
 u'fredericksburg',
 u'hampton roads',
 u'harrisonburg',
 u'lynchburg',
 u'new river valley',
 u'richmond',
 u'roanoke',
 u'southwest VA',
 u'winchester',
 u'bellingham',
 u'kennewick-pasco-richland',
 u'moses lake',
 u'olympic peninsula',
 u'pullman / moscow',
 u'seattle-tacoma',
 u'skagit / island / SJI',
 u"spokane / coeur d'alene",
 u'wenatchee',
 u'yakima',
 u'charleston ',
 u'eastern panhandle',
 u'huntington-ashland',
 u'morgantown',
 u'northern panhandle',
 u'parkersburg-marietta',
 u'southern WV',
 u'west virginia (old)',
 u'appleton-oshkosh-FDL',
 u'eau claire',
 u'green bay',
 u'janesville',
 u'kenosha-racine',
 u'la crosse',
 u'madison',
 u'milwaukee',
 u'northern WI',
 u'sheboygan',
 u'wausau',
 u'wyoming',
 u'guam-micronesia',
 u'puerto rico',
 u'U.S. virgin islands',
 u'calgary',
 u'edmonton',
 u'ft mcmurray',
 u'lethbridge',
 u'medicine hat',
 u'peace river country',
 u'red deer',
 u'cariboo',
 u'comox valley',
 u'fraser valley',
 u'kamloops',
 u'kelowna / okanagan',
 u'kootenays',
 u'nanaimo',
 u'prince george',
 u'skeena-bulkley',
 u'sunshine coast',
 u'vancouver',
 u'victoria',
 u'whistler',
 u'winnipeg',
 u'new brunswick',
 u"st john's",
 u'territories',
 u'yellowknife',
 u'halifax',
 u'barrie',
 u'belleville',
 u'brantford-woodstock',
 u'chatham-kent',
 u'cornwall',
 u'guelph',
 u'hamilton-burlington',
 u'kingston',
 u'kitchener-waterloo-cambridge',
 u'london ',
 u'niagara region',
 u'ottawa-hull-gatineau',
 u'owen sound',
 u'peterborough',
 u'sarnia',
 u'sault ste marie',
 u'sudbury',
 u'thunder bay',
 u'toronto',
 u'windsor',
 u'prince edward island',
 u'montreal',
 u'quebec city',
 u'saguenay',
 u'sherbrooke',
 u'trois-rivieres',
 u'regina',
 u'saskatoon',
 u'whitehorse',
 u'vienna',
 u'belgium',
 u'bulgaria',
 u'croatia',
 u'prague',
 u'copenhagen',
 u'finland',
 u'bordeaux',
 u'brittany',
 u'grenoble',
 u'lille',
 u'loire valley',
 u'lyon',
 u'marseille',
 u'montpellier',
 u"nice / cote d'azur",
 u'normandy',
 u'paris',
 u'strasbourg',
 u'toulouse',
 u'berlin',
 u'bremen',
 u'cologne',
 u'dresden',
 u'dusseldorf',
 u'essen / ruhr',
 u'frankfurt',
 u'hamburg',
 u'hannover',
 u'heidelberg',
 u'kaiserslautern',
 u'leipzig',
 u'munich',
 u'nuremberg',
 u'stuttgart',
 u'greece',
 u'budapest',
 u'reykjavik',
 u'dublin',
 u'bologna',
 u'florence / tuscany',
 u'genoa',
 u'milan',
 u'napoli / campania',
 u'perugia',
 u'rome',
 u'sardinia',
 u'sicilia',
 u'torino',
 u'venice / veneto',
 u'luxembourg',
 u'amsterdam / randstad',
 u'norway',
 u'poland',
 u'faro / algarve',
 u'lisbon',
 u'porto',
 u'romania',
 u'moscow',
 u'st petersburg',
 u'alicante',
 u'baleares',
 u'barcelona',
 u'bilbao',
 u'cadiz',
 u'canarias',
 u'granada',
 u'madrid',
 u'malaga',
 u'sevilla',
 u'valencia',
 u'sweden',
 u'basel',
 u'bern',
 u'geneva',
 u'lausanne',
 u'zurich',
 u'turkey',
 u'ukraine',
 u'aberdeen',
 u'bath',
 u'belfast',
 u'birmingham / west mids',
 u'brighton',
 u'bristol',
 u'cambridge, UK',
 u'cardiff / wales',
 u'coventry',
 u'derby',
 u'devon & cornwall',
 u'dundee',
 u'east anglia',
 u'east midlands',
 u'edinburgh',
 u'essex',
 u'glasgow',
 u'hampshire',
 u'kent',
 u'leeds',
 u'liverpool',
 u'london',
 u'manchester',
 u'newcastle / NE england',
 u'nottingham',
 u'oxford',
 u'sheffield',
 u'bangladesh',
 u'beijing',
 u'chengdu',
 u'chongqing',
 u'dalian',
 u'guangzhou',
 u'hangzhou',
 u'nanjing',
 u'shanghai',
 u'shenyang',
 u'shenzhen',
 u'wuhan',
 u"xi'an",
 u'guam-micronesia',
 u'hong kong',
 u'ahmedabad',
 u'bangalore',
 u'bhubaneswar',
 u'chandigarh',
 u'chennai (madras)',
 u'delhi',
 u'goa',
 u'hyderabad',
 u'indore',
 u'jaipur',
 u'kerala',
 u'kolkata (calcutta)',
 u'lucknow',
 u'mumbai',
 u'pune',
 u'surat surat',
 u'indonesia',
 u'iran',
 u'iraq',
 u'haifa',
 u'jerusalem',
 u'tel aviv',
 u'west bank',
 u'fukuoka',
 u'hiroshima',
 u'nagoya',
 u'okinawa',
 u'osaka-kobe-kyoto',
 u'sapporo',
 u'sendai',
 u'tokyo',
 u'seoul',
 u'kuwait',
 u'beirut, lebanon',
 u'malaysia',
 u'pakistan',
 u'bacolod',
 u'bicol region',
 u'cagayan de oro',
 u'cebu',
 u'davao city',
 u'iloilo',
 u'manila',
 u'pampanga',
 u'zamboanga',
 u'singapore',
 u'taiwan',
 u'thailand',
 u'united arab emirates',
 u'vietnam',
 u'adelaide',
 u'brisbane',
 u'cairns',
 u'canberra',
 u'darwin',
 u'gold coast',
 u'melbourne',
 u'newcastle, NSW',
 u'perth',
 u'sydney',
 u'tasmania',
 u'wollongong',
 u'auckland',
 u'christchurch',
 u'dunedin',
 u'wellington',
 u'buenos aires',
 u'bolivia',
 u'belo horizonte',
 u'brasilia',
 u'curitiba',
 u'fortaleza',
 u'porto alegre',
 u'recife',
 u'rio de janeiro',
 u'salvador, bahia',
 u'sao paulo',
 u'caribbean islands',
 u'chile',
 u'colombia',
 u'costa rica',
 u'dominican republic',
 u'ecuador',
 u'el salvador',
 u'guatemala',
 u'acapulco',
 u'baja california sur',
 u'chihuahua',
 u'ciudad juarez',
 u'guadalajara',
 u'guanajuato',
 u'hermosillo',
 u'mazatlan',
 u'mexico city',
 u'monterrey',
 u'oaxaca',
 u'puebla',
 u'puerto vallarta',
 u'tijuana',
 u'veracruz',
 u'yucatan',
 u'nicaragua',
 u'panama',
 u'peru',
 u'puerto rico',
 u'montevideo',
 u'venezuela',
 u'virgin islands',
 u'egypt',
 u'ethiopia',
 u'ghana',
 u'kenya',
 u'morocco',
 u'cape town',
 u'durban',
 u'johannesburg',
 u'pretoria',
 u'tunisia',
 u'help',
 u'safety',
 u'privacy',
 u'feedback',
 u'cl jobs',
 u'terms',
 u'about']

In [92]:
region_dict={}
for city in combined['city']:
    Found=False
    for region in craigslist_city_names:
        if city.lower()in region:
            region_dict[city]=region.replace(' ','')
            Found=True
            break
        else:
            region_dict[city]="NotFound"
for region in region_dict:
    if region_dict[region]=="NotFound":
        print region

Arlington
Washington DC
Nashville-Davidson
Virginia Beach
Mesa
San Jose
Louisville-Jefferson County
Oakland
Long Beach

In [93]:
region_dict['Nashville']="nashville"
region_dict['VirginiaBeach']="richmond"
region_dict['Washington,DC']="washington"
region_dict['Louisville']="louisville"
region_dict['San Francisco']="sanfrancisco"
region_dict['New York']="newyork"
region_dict['Colorado Springs']="cosprings"
region_dict['Omaha']="omaha"
region_dict['Miami']="miami"
region_dict['Dallas']="dallas"
region_dict['Columbus']="Columbus"
region_dict['Albuquerque']="Albuquerque"
region_dict['Detroit']="detroit"
region_dict['Raleigh']="raleigh"
region_dict['Fresno']="fresno"
region_dict['Minneapolis']="minneapolis"
region_dict['Phoenix']="phoenix"
region_dict['Seattle']="seattle"
region_dict['Fort Worth']="NotFound"

del region_dict['Nashville-Davidson']
del region_dict['Louisville-Jefferson County']
#Dictcomprehension

region_dict={k:v for k,v in region_dict.iteritems() if v!='NotFound'}

region_dict

{u'Albuquerque': 'Albuquerque',
 u'Atlanta': u'atlanta',
 u'Austin': u'austin',
 u'Baltimore': u'baltimore',
 u'Boston': u'boston',
 u'Charlotte': u'charlotte',
 u'Chicago': u'chicago',
 u'Cleveland': u'cleveland',
 u'Colorado Springs': 'cosprings',
 u'Columbus': 'Columbus',
 u'Dallas': 'dallas',
 u'Denver': u'denver',
 u'Detroit': 'detroit',
 u'El Paso': u'elpaso',
 u'Fresno': 'fresno',
 u'Houston': u'houston',
 u'Indianapolis': u'indianapolis',
 u'Jacksonville': u'jacksonville',
 u'Kansas City': u'kansascity',
 u'Las Vegas': u'lasvegas',
 u'Los Angeles': u'losangeles',
 'Louisville': 'louisville',
 u'Memphis': u'memphis',
 u'Miami': 'miami',
 u'Milwaukee': u'milwaukee',
 u'Minneapolis': 'minneapolis',
 'Nashville': 'nashville',
 u'New Orleans': u'neworleans',
 u'New York': 'newyork',
 u'Oklahoma City': u'oklahomacity',
 u'Omaha': 'omaha',
 u'Philadelphia': u'philadelphia',
 u'Phoenix': 'phoenix',
 u'Portland': u'portland',
 u'Raleigh': 'raleigh',
 u'Sacramento': u'sacramento',
 u'San Antonio': u'sanantonio',
 u'San Diego': u'sandiego',
 u'San Francisco': 'sanfrancisco',
 u'Seattle': 'seattle',
 u'Tucson': u'tucson',
 u'Tulsa': u'tulsa',
 'VirginiaBeach': 'richmond',
 'Washington,DC': 'washington',
 u'Wichita': u'wichita'}

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Define a function to caculate mean and median price per city.

Now that you've created a list of cities you want to scrape, adapt your solution for grabbing data in one region site, to grab data for all regional sites that you collected, then calculate the mean and median price of RV results from each city.

> Look at the URLs from a few different regions (ie: portland, phoenix, sfbay), and find what they have in common.  Determine the area in the URL string that needs to change the least, and figure out how to replace only that portion of the URL in order to iterate through each city.

In [94]:
#Adapting solution to multiple sites in anticipation of the mean / median work

collect_dict = {}
for key in region_dict:
    a = RV() #class
    value = region_dict[key]
    print key,value
    if key not in []:
        z = a.fetch_prices(value)
        collect_dict[key] = z
        print z[0:5]
    
#     'Dallas','Columbus','Albuquerque','Miami',
#                     'Detroit','Raleigh','Fresno','Minneapolis'
#                      ,'Phoenix','Seattle'

San Diego sandiego
200
[u'$29990', u'$24500', u'$18500', u'$78000', u'$20000']
Dallas dallas
200
[u'$23000', u'$500', u'$34444', u'$800', u'$21595']
Philadelphia philadelphia
200
[u'$35000', u'$11900', u'$39000', u'$14900', u'$24900']
Denver denver
200
[u'$15900', u'$10200', u'$1500', u'$15900', u'$15000']
Louisville louisville
200
[u'$50', u'$1500', u'$17500', u'$1500', u'$2500']
Washington,DC washington
200
[u'$14426', u'$3500', u'$2000', u'$10000', u'$7300']
San Francisco sanfrancisco
200
[u'$39900', u'$49988', u'$56990', u'$2995', u'$1500']
Columbus Columbus
200
[u'$8', u'$16900', u'$14995', u'$7500', u'$4200']
Indianapolis indianapolis
200
[u'$2900', u'$22995', u'$20995', u'$1500', u'$16995']
Phoenix phoenix
200
[u'$55000', u'$2900', u'$5500', u'$9500', u'$2400']
Sacramento sacramento
200
[u'$32000', u'$1400', u'$7000', u'$39990', u'$6200']
Nashville nashville
200
[u'$69900', u'$7100', u'$21900', u'$250000', u'$19900']
Albuquerque Albuquerque
200
[u'$1500', u'$1500', u'$22999', u'$59998', u'$34998']
El Paso elpaso
200
[u'$22999', u'$15500', u'$4995', u'$4500', u'$1500']
New Orleans neworleans
200
[u'$1500', u'$12000', u'$24500', u'$100', u'$43995']
Los Angeles losangeles
200
[u'$15000', u'$5000', u'$7995', u'$19637', u'$6000']
Atlanta atlanta
200
[u'$70', u'$6098', u'$19977', u'$60', u'$18500']
Memphis memphis
200
[u'$12499', u'$11000', u'$6700', u'$16500', u'$150']
Jacksonville jacksonville
200
[u'$2600', u'$49998', u'$21995', u'$17600', u'$8950']
Colorado Springs cosprings
200
[u'$6300', u'$50', u'$350', u'$8500', u'$21900']
Omaha omaha
200
[u'$27000', u'$18900', u'$200', u'$4000', u'$6000']
Houston houston
200
[u'$5900', u'$12800', u'$14', u'$12500', u'$13900']
Miami miami
200
[u'$19000', u'$209998', u'$18500', u'$20000', u'$69000']
Wichita wichita
200
[u'$21500', u'$53900', u'$22000', u'$7995', u'$3599']
Kansas City kansascity
200
[u'$14427', u'$22500', u'$1', u'$21500', u'$2500']
Detroit detroit
200
[u'$135376', u'$4000', u'$90391', u'$34999', u'$55']
Tucson tucson
200
[u'$31900', u'$12000', u'$10', u'$14500', u'$9950']
Raleigh raleigh
200
[u'$4500', u'$52000', u'$3975', u'$4250', u'$7950']
New York newyork
200
[u'$500', u'$7900', u'$36900', u'$1500', u'$2033']
Austin austin
200
[u'$49995', u'$94995', u'$59995', u'$33750', u'$59995']
Oklahoma City oklahomacity
200
[u'$4500', u'$5', u'$5000', u'$80', u'$35']
Baltimore baltimore
200
[u'$7300', u'$2700', u'$1350', u'$21500', u'$100']
Charlotte charlotte
200
[u'$40', u'$52000', u'$12000', u'$150', u'$600']
Tulsa tulsa
200
[u'$30000', u'$125', u'$5200', u'$3750', u'$34000']
Fresno fresno
200
[u'$125', u'$300', u'$23995', u'$27995', u'$6995']
Boston boston
200
[u'$24999', u'$24999', u'$24999', u'$119900', u'$119900']
Minneapolis minneapolis
200
[u'$640', u'$250', u'$18900', u'$25215', u'$8500']
San Antonio sanantonio
200
[u'$3500', u'$79900', u'$14900', u'$15700', u'$17499']
VirginiaBeach richmond
200
[u'$6500', u'$5000', u'$62500', u'$62500', u'$7300']
Las Vegas lasvegas
200
[u'$114998', u'$209851', u'$14930', u'$209851', u'$375']
Chicago chicago
200
[u'$18000', u'$2000', u'$4800', u'$24000', u'$1']
Cleveland cleveland
200
[u'$1150', u'$1150', u'$50', u'$5200', u'$30900']
Milwaukee milwaukee
200
[u'$5900', u'$1500', u'$70', u'$20', u'$30']
Portland portland
200
[u'$17995', u'$95000', u'$2000', u'$40', u'$25']
Seattle seattle
200
[u'$3300', u'$34000', u'$27775', u'$12995', u'$12995']

In [95]:
frames = []
for keyrv in collect_dict:
    region_list = collect_dict[keyrv]
    clean = []
    clean = [float(x.replace("$","")) for x in region_list if len(x)>0]
    clean = filter(lambda a: a >= 9999.0, clean)
    df = pd.DataFrame(clean,columns=["rv_price"])
    df['city']= df["rv_price"].map(lambda x: keyrv)
    frames.append(df)
    
result = pd.concat(frames)
result


#pd.DataFrame(rows, columns=["State", "R", "D", "incumbent"])

    rv_price       city
0    69900.0  Nashville
1    21900.0  Nashville
2   250000.0  Nashville
3    19900.0  Nashville
4    16500.0  Nashville
5    26900.0  Nashville
6    49900.0  Nashville
7    26900.0  Nashville
8    14500.0  Nashville
9    14900.0  Nashville
10   11900.0  Nashville
11   19900.0  Nashville
12   33900.0  Nashville
13   47900.0  Nashville
14   16500.0  Nashville
15   36950.0  Nashville
16   30000.0  Nashville
17   14500.0  Nashville
18   78500.0  Nashville
19   57940.0  Nashville
20   20000.0  Nashville
21   17999.0  Nashville
22   10500.0  Nashville
23   16999.0  Nashville
24   17999.0  Nashville
25   16000.0  Nashville
26   15999.0  Nashville
27   10999.0  Nashville
28   22500.0  Nashville
29   26995.0  Nashville
..       ...        ...
29  249995.0    Seattle
30   79995.0    Seattle
31   69995.0    Seattle
32   36999.0    Seattle
33   23648.0    Seattle
34   32995.0    Seattle
35   65995.0    Seattle
36   23771.0    Seattle
37   25648.0    Seattle
38  179995.0    Seattle
39   69995.0    Seattle
40   18200.0    Seattle
41   31300.0    Seattle
42  129950.0    Seattle
43   29600.0    Seattle
44   25800.0    Seattle
45   22000.0    Seattle
46   17500.0    Seattle
47   17500.0    Seattle
48   26995.0    Seattle
49   54995.0    Seattle
50   16495.0    Seattle
51   32995.0    Seattle
52   82995.0    Seattle
53   44995.0    Seattle
54   29995.0    Seattle
55   22950.0    Seattle
56   41995.0    Seattle
57   38500.0    Seattle
58   24899.0    Seattle

[2355 rows x 2 columns]

In [96]:
rv_mean = result.groupby(['city']).mean()
rv_mean = rv_mean.reset_index()
rv_mean.rename(columns={'rv_price':'rv_mean'}, inplace=True)
rv_mean

                city       rv_mean
0        Albuquerque  56656.347222
1            Atlanta  27781.172414
2             Austin  49541.508772
3          Baltimore  26476.828571
4             Boston  37773.555556
5          Charlotte  27750.000000
6            Chicago  22557.651163
7          Cleveland  36130.941176
8   Colorado Springs  36510.255319
9           Columbus  31817.191489
10            Dallas  38474.656716
11            Denver  29767.875000
12           Detroit  30352.918367
13           El Paso  71100.287500
14            Fresno  29148.375000
15           Houston  56068.421053
16      Indianapolis  24394.042553
17      Jacksonville  63810.444444
18       Kansas City  36535.468085
19         Las Vegas  67029.855263
20       Los Angeles  51116.500000
21        Louisville  29299.097561
22           Memphis  30260.571429
23             Miami  55881.236364
24         Milwaukee  26744.962963
25       Minneapolis  26476.200000
26         Nashville  29220.580645
27       New Orleans  36045.118421
28          New York  38253.914894
29     Oklahoma City  59332.019608
30             Omaha  34958.576923
31      Philadelphia  49170.178571
32           Phoenix  50911.078431
33          Portland  29090.291667
34           Raleigh  31406.111111
35        Sacramento  50882.975309
36       San Antonio  45663.160714
37         San Diego  44534.428571
38     San Francisco  42319.428571
39           Seattle  42828.898305
40            Tucson  54897.718750
41             Tulsa  41204.597015
42     VirginiaBeach  29211.382979
43     Washington,DC  32714.055556
44           Wichita  38500.492958

In [97]:
rv_median = result.groupby(['city']).median()
rv_median = rv_median.reset_index()
rv_median.rename(columns={'rv_price':'rv_median'}, inplace=True)
rv_median

                city  rv_median
0        Albuquerque    49995.0
1            Atlanta    21995.0
2             Austin    33988.0
3          Baltimore    16950.0
4             Boston    24999.0
5          Charlotte    23500.0
6            Chicago    18500.0
7          Cleveland    27997.5
8   Colorado Springs    24900.0
9           Columbus    15900.0
10            Dallas    27900.0
11            Denver    18497.5
12           Detroit    20995.0
13           El Paso    64995.0
14            Fresno    25764.5
15           Houston    35000.0
16      Indianapolis    19800.0
17      Jacksonville    30447.5
18       Kansas City    25500.0
19         Las Vegas    32050.0
20       Los Angeles    42900.0
21        Louisville    19995.0
22           Memphis    21999.5
23             Miami    41500.0
24         Milwaukee    19991.5
25       Minneapolis    19491.5
26         Nashville    20950.0
27       New Orleans    22947.5
28          New York    19995.0
29     Oklahoma City    49995.0
30             Omaha    28999.0
31      Philadelphia    26000.0
32           Phoenix    30349.0
33          Portland    18700.0
34           Raleigh    26700.0
35        Sacramento    35900.0
36       San Antonio    24450.0
37         San Diego    24750.0
38     San Francisco    30450.0
39           Seattle    29995.0
40            Tucson    45495.0
41             Tulsa    32995.0
42     VirginiaBeach    19995.0
43     Washington,DC    19700.0
44           Wichita    22222.0

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Run your scraping process, and save your results to a CSV file.

In [98]:
loot = "/Users/paulmartin/Desktop/rv.csv"
df.to_csv(loot, sep='\t')

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Do an analysis of the RV market.

Go head we'll wait.  Anything notable about the data?

In [99]:
result = pd.merge(rv_mean,rv_median,how='left', on=['city'])
result['difference'] = result['rv_mean']-result['rv_median']
result.sort_values('rv_mean', axis=0, ascending=False, inplace=True, kind='quicksort', na_position='last')
result
#note. To eliminate some ofthe noise rv's undesr 10K were excluded

                city       rv_mean  rv_median    difference
13           El Paso  71100.287500    64995.0   6105.287500
19         Las Vegas  67029.855263    32050.0  34979.855263
17      Jacksonville  63810.444444    30447.5  33362.944444
29     Oklahoma City  59332.019608    49995.0   9337.019608
0        Albuquerque  56656.347222    49995.0   6661.347222
15           Houston  56068.421053    35000.0  21068.421053
23             Miami  55881.236364    41500.0  14381.236364
40            Tucson  54897.718750    45495.0   9402.718750
20       Los Angeles  51116.500000    42900.0   8216.500000
32           Phoenix  50911.078431    30349.0  20562.078431
35        Sacramento  50882.975309    35900.0  14982.975309
2             Austin  49541.508772    33988.0  15553.508772
31      Philadelphia  49170.178571    26000.0  23170.178571
36       San Antonio  45663.160714    24450.0  21213.160714
37         San Diego  44534.428571    24750.0  19784.428571
39           Seattle  42828.898305    29995.0  12833.898305
38     San Francisco  42319.428571    30450.0  11869.428571
41             Tulsa  41204.597015    32995.0   8209.597015
44           Wichita  38500.492958    22222.0  16278.492958
10            Dallas  38474.656716    27900.0  10574.656716
28          New York  38253.914894    19995.0  18258.914894
4             Boston  37773.555556    24999.0  12774.555556
18       Kansas City  36535.468085    25500.0  11035.468085
8   Colorado Springs  36510.255319    24900.0  11610.255319
7          Cleveland  36130.941176    27997.5   8133.441176
27       New Orleans  36045.118421    22947.5  13097.618421
30             Omaha  34958.576923    28999.0   5959.576923
43     Washington,DC  32714.055556    19700.0  13014.055556
9           Columbus  31817.191489    15900.0  15917.191489
34           Raleigh  31406.111111    26700.0   4706.111111
12           Detroit  30352.918367    20995.0   9357.918367
22           Memphis  30260.571429    21999.5   8261.071429
11            Denver  29767.875000    18497.5  11270.375000
21        Louisville  29299.097561    19995.0   9304.097561
26         Nashville  29220.580645    20950.0   8270.580645
42     VirginiaBeach  29211.382979    19995.0   9216.382979
14            Fresno  29148.375000    25764.5   3383.875000
33          Portland  29090.291667    18700.0  10390.291667
1            Atlanta  27781.172414    21995.0   5786.172414
5          Charlotte  27750.000000    23500.0   4250.000000
24         Milwaukee  26744.962963    19991.5   6753.462963
3          Baltimore  26476.828571    16950.0   9526.828571
25       Minneapolis  26476.200000    19491.5   6984.700000
16      Indianapolis  24394.042553    19800.0   4594.042553
6            Chicago  22557.651163    18500.0   4057.651163

In [100]:
from geopy import Nominatim
from geopy.distance import vincenty

In [101]:
def getmiles(a,b):
    geolocator = Nominatim()
    location1 = geolocator.geocode(a)
    location2 = geolocator.geocode(b)
    return (vincenty((location1.latitude, location1.longitude), (location2.latitude, location2.longitude)).miles)

In [102]:
print getmiles( "san diego","newyork")

2435.55757769

In [120]:
from itertools import product
l1 = result.city.tolist()
z = list(product(l1, l1))
miles_davis = pd.DataFrame(z,columns=['city_beg','city_end'])
miles_davis['miles'] = miles_davis['city_beg','city_end'].map(lambda x,y:getmiles(x,y))

KeyError: ('city_beg', 'city_end')

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.1 Does it makes sense to buy RVs in one region and sell them in another?

Assuming the cost of shipping or driving from one regional market to another.

In [104]:
#see below

this one is a bit hard to answer given some of the feature blind spots. There is variability within markets chich is generally positively skewed.  That represents some market to market arbitrage potentially.  There are also some intra regional mean differences which would suggest some opportunity (See Washington DC to Baltimore).

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.2 Can you pull out the "make" from the markup and include that in your analyis?
How reliable is this data and does it make sense?

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 5.3 Are there any other variables you could pull out of the markup to help describe your dataset?

In [105]:
#mileage, condition, year

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. Move your project into scrapy (if you haven't used Scrapy yet)

>Start a project by using the command `scrapy startproject [projectname]`
> - Update your settings.py (review our past example)
> - Update your items.py
> - Create a spiders file in your `[project_name]/[project_name]/spiders` directory

You can update your spider class with the complete list of craigslist "start urls" to effectively scrape all of the regions.  Start with one to test.

Updating your parse method with the method you chose should require minimal changes.  It will require you to update your parse method to use the response parameter, and an item model (defined in items.py).

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 7.  Chose another area of Craigslist to scrape.

**Choose an area having more than a single page of results, then scrape multiple regions, multiple pages of search results and or details pages.**

This is the true exercise of being able to understand how to succesffuly plan, develop, and employ a broader scraping strategy.  Even though this seems like a challenging task, a few tweeks of your current code can make this very managable if you've pieced together all the touch points.  If you are still confused as to some of the milestones within this process, this is an excellent opportunity to round out your understanding, or help you build a list of questions to fill in your gaps.

_Use Scrapy!  Provide your code in this project directory when you submit this project._